
.nav_ctn a {
    text-decoration: none;
    color: #232323!important;
}
ol, ul {
    list-style: none;
}

@media screen and (max-width: 640px) {
    .isMobile .head_ctn,
    .isMobile .nav_ctn{
        display: none!important;
    }

    .mean-container .mean-bar {
        width: 100%;
        position: relative;
        background: #fff;
        background-image: url(../img/logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25%;
        padding: 4px 0;
        min-height: 42px;
        z-index: 99;
        border-bottom: 1px solid #E1E4E6;
    }

    .mean-container a.meanmenu-reveal {
        width: 22px;
        height: 22px;
        padding: 13px 13px 11px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        color: #123642;
        text-decoration: none;
        font-size: 16px;
        text-indent: -9999em;
        line-height: 22px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700
    }

    .mean-container a.meanmenu-reveal span {
        display: block;
        background: #123642;
        height: 3px;
        margin-top: 3px
    }

    .mean-container .mean-nav {
        position: absolute;
        width: 100%;
        background: #0c1923;
        margin-top: 44px
    }

    .mean-container .mean-nav ul {
        padding: 0;
        margin: 0;
        width: 100%;
        list-style-type: none
    }

    .mean-container .mean-nav ul li {
        position: relative;
        float: left;
        width: 100%
    }

    .mean-container .mean-nav ul li a {
        display: block;
        float: left;
        width: 90%;
        padding: 1em 5%;
        margin: 0;
        text-align: left;
        color: #fff;
        border-top: 1px solid #383838;
        border-top: 1px solid rgba(255, 255, 255, .5);
        text-decoration: none;
    }

    .mean-container .mean-nav ul li li a {
        width: 80%;
        padding: 1em 10%;
        border-top: 1px solid #f1f1f1;
        border-top: 1px solid rgba(255, 255, 255, .25);
        opacity: .75;
        filter: alpha(opacity=75);
        text-shadow: none!important;
        visibility: visible
    }

    .mean-container .mean-nav ul li.mean-last a {
        border-bottom: 0;
        margin-bottom: 0
    }

    .mean-container .mean-nav ul li li li a {
        width: 70%;
        padding: 1em 15%
    }

    .mean-container .mean-nav ul li li li li a {
        width: 60%;
        padding: 1em 20%
    }

    .mean-container .mean-nav ul li li li li li a {
        width: 50%;
        padding: 1em 25%
    }

    .mean-container .mean-nav ul li a:hover {
        background: #252525;
        background: rgba(255, 255, 255, .1)
    }

    .mean-container .mean-nav ul li a.mean-expand {
        margin-top: 1px;
        width: 26px;
        height: 30px;
        padding: 12px!important;
        text-align: center;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        font-weight: 700;
        background: rgba(255, 255, 255, .1);
        border: 0!important;
    }

    .mean-container .mean-push {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        clear: both
    }

    .mean-nav .wrapper {
        width: 100%;
        padding: 0;
        margin: 0
    }

    .mean-container .mean-bar,
    .mean-container .mean-bar * {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box
    }
}

.nav_ctn ul{
    list-style: none!important;
    padding: 0;
}

@media screen and (min-width: 641px) {
    .head_main {
        position: relative;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }
    .head_main span{
        margin-right: 10px;
    }
    .head_ctn {
        background: #202f80;
        text-align: center;
        font-size: 16px;
        height: 50px;
        font-weight: 700;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    .head_ctn a {
        display: inline-block;
        right: 10%;
        height: 35px;
        line-height: 35px;
        width: 100px;
        background: red;
        border-radius: 4px;
        color: #fff!important;
        /* position: absolute; */
        top: -5px;
        display: inline-block;
    }

    .nav_ctn_mobile {
        display: none !important;
    }
    .nav_ctn {
        font-size: 15px;
        height: 107px;
        border: 1px solid rgba(243, 244, 246, 1);
        border-top: #202f80;
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 9;
    }

    .nav_ctn .pc_width {
        align-items: center;
        height: 57px;
    }

    .logo {
        margin-right: 80px;
    }

    .nav_ctn .item {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 13px;
        white-space: nowrap;
        cursor: pointer;
    }

    .item.active {
        border-top: 1px solid #f2a525;
        background: #fffaf1;
    }

    .nav_ctn .item:hover {
        border-top: 1px solid #f2a525;
        background: #fffaf1;
    }


    .one_menu {
        display: block;
        position: relative;
        z-index: 8;
    }

    .one_menu > ul {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        /* border: 1px solid; */
    }

    .one_menu > ul li ul {
        background: #fff;
        display: none;
        position: absolute;
        width: 180px;
        right: -180px;
        text-align: left;
        line-height: 20px;
        top: 0px;
    }

    .one_menu > ul li {
        background: #fff;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        /* border: 1px solid; */
        margin: 0!important;
    }

    .one_menu > ul a {
        color: #065e77;
        display: block;
        min-width: 100px;
        line-height: 40px;
        padding: 7px 15px;
    }

    .one_menu > ul a:hover {
        color: #1bb1dc;
    }

    .one_menu > ul li:hover {
        background-color: #eee;
    }

    .nav_ctn div :hover > ul {
        display: block;
    }

    .nav_ctn .pc_width {
        align-items: center;
        height: 50px;
    }

    .nav_ctn .item {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 13px;
        white-space: nowrap;
        cursor: pointer;
    }

    .item.active {
        border-top: 1px solid #f2a525;
        background: #fffaf1;
    }

    .nav_ctn .item:hover {
        border-top: 1px solid #f2a525;
        background: #fffaf1;
    }
}